.rows{
    max-width: $row-width;
    margin: 0 auto;
    
    &:not(:last-child){
        margin-bottom: $vertical-gutter;

        @include response(tab-port){
            margin-bottom: $vertical-gutter-small;
            padding: 0 3rem;
        }
        @include response(phone){
            margin-bottom: $vertical-gutter-small;
            padding: 0;
        }
        
    }

    @include response(tab-port){
        // width:61rem;
        width:50%;
    }

    @include response(phone){
        width:100%;
    }
    
    @include clearfix;

    [class ^='col-']{
        float:left;

         &:not(:last-child){
              margin-right: $horizontal-gutter;

              @include response(tab-port){
                margin-right: 0;
                margin-bottom: $vertical-gutter-small;
                // margin: 0 auto;
            } 
        }

        @include response(tab-port){
            width:100% !important;
            float:none;
        } 
        @include response(phone){
            width:100% !important;
            float:none;
        } 
    }

    .col-1-of-2{
        width: calc((100% - #{$horizontal-gutter})/2);
       
    }

    .col-1-of-3{
        width: calc((100% - 2* #{$horizontal-gutter})/3);
    }

    .col-1-of-4{
        width: calc((100% - 3* #{$horizontal-gutter})/4);
    }

    .col-2-of-3{
        width: calc(2*(100% - 2* #{$horizontal-gutter})/3 + #{$horizontal-gutter});
    }

    .col-3-of-4{
        width: calc(3*(100% - 3* #{$horizontal-gutter})/4 + #{$horizontal-gutter}*2);
    }

    .col-2-of-4{
        width: calc(2*(100% - 3* #{$horizontal-gutter})/4 + #{$horizontal-gutter});
    }
}

.tab-port__row{

    &-1of2{
        float:left;
        width: calc((100% - #{$form-row-gutter})/2);
        margin-bottom: 1rem;

        @include response(tab-port){
            margin: 0 auto;
            width:49%;
        }   
        @include response(phone){
            width:100%;
        }              

        &:not(:last-child){
            margin-right:$form-row-gutter;
        }
    }
}

