.header{
    position: relative;
    height:70vh;

    &__text-box{
        // position: absolute;
        // top:45vh;
        // left:40vw;
        // transform: translate(-33%, -50%);
        box-sizing: border-box;
        text-align: center;
        margin: 25rem auto;
        width:71rem;
          
    }
    @include clearfix;
}
