@import "abstracts/mixins";

.header{
    position: relative;
    height:100vh;

    &__text-box{
        text-align: center;
        @include central;
    }
    @include clearfix;

    @include response(tab-port){
        height:70vh;
    }

    @include response(phone){
        height:45vh;
    }
}
