<section>
  <div class="rows">
    <div class="col-1-of-4">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__picture card__picture--1">
            &nbsp;
          </div>
          <h3 class="card__heading"><i class="card__icon icon-basic-world"></i>&nbsp; &nbsp;<span >Experience</span></h3>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__details">
            <a class="u-bold" href="http://swman.ru/" target="blank">
              MODUS company,<br> Moscow (remote job) </a>
            <br><span class="u-margin-bottom-small"> Operator of geographic information system, 2009</span>
            <ul class="list">
              <li>Analysis of diagrams and drawings</li>
              <li>Data entry into system</li>
              <li>Reporting on data in geographic information system</li>
              <li>Reporting on input data in wiki</li>
            </ul>

            <span class="u-bold"> A TOURS Ltd., Arkhangelsk </span><br> <span class="u-margin-bottom-small">Tourist
              Manager, 2002-2009</span>
            <ul class="list">
              <li>Work with clients, including foreign ones</li>
              <li>Client search</li>
              <li>Tourist market research</li>
              <li>Business correspondence</li>
              <li>Design of tourist programs</li>
              <li>Telephone calls</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="col-1-of-4">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__side--front_1">
            <div class="card__picture card__picture--2">
              &nbsp;
            </div>
           <h3 class="card__heading"><i class="card__icon icon-basic-book-pen"></i>&nbsp; &nbsp;<span>Education</span></h3> 
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__details">
            <span class="u-bold">Pomor State University, <br> Arkhangelsk, 1997-2002</span>
            <ul class="list list_noStyle">
              <li>Primary school teacher, English teacher</li>
              <li>Specialization: English language</li>
            </ul>

            <span class="u-bold">North Arctic Federal University, Arkhangelsk, 2009-2013</span>
            <ul class="list list_noStyle">
              <li>Engineer</li>
              <li>Specialization: Information systems and technologies</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__side--front_1">
            <div class="card__picture card__picture--3">
              &nbsp;
            </div>
            <h3 class="card__heading"><i class="card__icon icon-basic-star"></i> &nbsp; &nbsp;<span>Courses</span></h3>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__details">
            <ul class="list">
              <li> <a href="https://www.coursera.org/learn/model-thinking" target="blank">Model thinking</a></li>
              <li> <a href="https://www.coursera.org/learn/python" target="blank">Programming For Everybody(Python)</a>
              </li>
              <li> <a href="https://www.coursera.org/learn/responsive-web-design/home/welcome" target="blank">Responsive
                  Web Design</a>
              </li>
              <li> <a href="https://www.coursera.org/learn/javascript" target="blank">Interactivity with Javascript</a>
              </li>
              <li> <a href="https://www.coursera.org/learn/responsivedesign" target="blank">Advanced Styling with
                  Responsive Design</a>
              </li>
              <li> <a href="https://www.coursera.org/learn/single-page-web-apps-with-angularjs" target="blank">Single
                  Web
                  Page
                  Application
                  With AngularJS</a></li>
              <li> <a href="https://www.coursera.org/learn/fundamentals-of-graphic-design" target="blank">Fundamentals
                  of Graphic Design</a></li>

            </ul>
          </div>
        </div>


      </div>
    </div>
    <div class="col-1-of-4">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__side--front_1">
            <div class="card__picture card__picture--4">
              &nbsp;
            </div>
            <h3 class="card__heading"><i class="card__icon icon-basic-settings"></i>&nbsp;<span>Skills</span></h3>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__details">
              <ul class="list">
                  <li>HTML/CSS/SCSS</li>
                  <li>Javascript/Typescript</li>
                  <li>AngularJS/Angular2/ReactJS</li>
                  <li>Git</li>
                </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>