<section>
  <div class="rows">
    <div class="col-1-of-4">
      <div class="card">
        <div class="card__side card__side--front">
          <i class="card__icon icon-basic-book-pen"></i>
          <h3 class="heading-tertiary">Experience</h3>
        </div>
        <div class="card__side card__side--back">
          <h3 class="heading-tertiary">Experience</h3>
          <a class="u-bold" href="http://swman.ru/">
            MODUS company,<br> Moscow (remote job) </a>
          <br><span class="u-margin-bottom-small"> Operator of geographic information system, 2009</span>
          <ul class="list">
            <li>Analysis of diagrams and drawings</li>
            <li>Data entry into system</li>
            <li>Reporting on data in geographic information system</li>
            <li>Reporting on input data in wiki</li>
          </ul>

          <span class="u-bold"> A TOURS Ltd., Arkhangelsk </span><br> <span class="u-margin-bottom-small">Tourist
            Manager, 2002-2009</span>
          <ul class="list">
            <li>Work with clients, including foreign ones</li>
            <li>Client search</li>
            <li>Tourist market research</li>
            <li>Business correspondence</li>
            <li>Design of tourist programs</li>
            <li>Telephone calls</li>
          </ul>
        </div>

      </div>
    </div>
    <div class="col-1-of-4">
      <div class="card">
        <div class="card__side card__side--front">
          <i class="card__icon icon-basic-book-pen"></i>
          <h3 class="heading-tertiary">Education</h3>
        </div>
        <div class="card__side card__side--back">
          <h3 class="heading-tertiary">Education</h3>
          <span class="u-bold">Pomor State University, Arkhangelsk, 1997-2002</span>
          <ul class="list list_noStyle">
            <li>Primary school teacher, English teacher</li>
            <li>Specialization: English language</li>
          </ul>

          <span class="u-bold">North Arctic Federal University, Arkhangelsk, 2009-2013</span>
          <ul class="list list_noStyle">
            <li>Engineer</li>
            <li>Specialization: Information systems and technologies</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="card">
        <div class="card__side card__side--front">
          <i class="card__icon icon-basic-book-pen"></i>
          <h3 class="heading-tertiary">Coursera courses</h3>
        </div>
        <div class="card__side card__side--back">
          <h3 class="heading-tertiary">Coursera courses</h3>
          <ul class="list">
            <li> <a href="https://www.coursera.org/learn/model-thinking">Model thinking</a></li>
            <li> <a href="https://www.coursera.org/learn/python">Programming For Everybody(Python)</a></li>
            <li> <a href="https://www.coursera.org/learn/responsive-web-design/home/welcome">Responsive Web Design</a>
            </li>
            <li> <a href="https://www.coursera.org/learn/javascript">Interactivity with Javascript</a></li>
            <li> <a href="https://www.coursera.org/learn/responsivedesign">Advanced Styling with Responsive Design</a>
            </li>
            <li> <a href="https://www.coursera.org/learn/single-page-web-apps-with-angularjs">Single Web Page
                Application
                With AngularJS</a></li>
            <li> <a href="https://www.coursera.org/learn/fundamentals-of-graphic-design">Fundamentals of Graphic
                Design</a></li>

          </ul>
        </div>


      </div>
    </div>
    <div class="col-1-of-4">
      <div class="card">
        <div class="card__side card__side--front">
          <i class="card__icon icon-basic-book-pen"></i>
          <h3 class="heading-tertiary">Skills</h3>
        </div>
        <div class="card__side card__side--back">
          <h3 class="heading-tertiary">Skills</h3>
          <ul class="list">
            <li>HTML/CSS/SCSS</li>
            <li>Javascript/Typescript</li>
            <li>AngularJS/Angular2/ReactJS</li>
            <li>Git</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="rows">
    <div class="col-1-of-2">
      <div class="sub-section">
        <h3 class="heading-sub-section">Experience</h3>
        <a class="u-bold" href="http://swman.ru/">
          MODUS company, Moscow (remote job) </a><br><span> Operator of geographic information system, 2009</span>
        <ul class="list u-italic">
          <li>Analysis of diagrams and drawings</li>
          <li>Data entry into system</li>
          <li>Reporting on data in geographic information system</li>
          <li>Reporting on input data in wiki</li>
        </ul>

        <span class="u-bold"> A TOURS Ltd., Arkhangelsk </span><br> <span>Tourist Manager, 2002-2009</span>
        <ul class="list u-italic">
          <li>Work with clients, including foreign ones</li>
          <li>Client search</li>
          <li>Tourist market research</li>
          <li>Business correspondence</li>
          <li>Design of tourist programs</li>
          <li>Telephone calls</li>
        </ul>
      </div>
    </div>
    <div class="col-1-of-2">
      <div class="sub-section">
        <h3 class="heading-sub-section">Coursera courses</h3>
        <ul class="list u-italic">
          <li> <a href="https://www.coursera.org/learn/model-thinking">Model thinking</a></li>
          <li> <a href="https://www.coursera.org/learn/python">Programming For Everybody(Python)</a></li>
          <li> <a href="https://www.coursera.org/learn/responsive-web-design/home/welcome">Responsive Web Design</a>
          </li>
          <li> <a href="https://www.coursera.org/learn/javascript">Interactivity with Javascript</a></li>
          <li> <a href="https://www.coursera.org/learn/responsivedesign">Advanced Styling with Responsive Design</a>
          </li>
          <li> <a href="https://www.coursera.org/learn/single-page-web-apps-with-angularjs">Single Web Page
              Application
              With AngularJS</a></li>
          <li> <a href="https://www.coursera.org/learn/fundamentals-of-graphic-design">Fundamentals of Graphic
              Design</a></li>

        </ul>
      </div>
      <div class="sub-section">
        <h3 class="heading-sub-section">Skills</h3>
        <ul class="list u-italic">
          <li>HTML/CSS/SCSS</li>
          <li>Javascript/Typescript</li>
          <li>AngularJS/Angular2/ReactJS</li>
          <li>Git</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="rows">
    <div class="col-1-of-2">
      <div class="sub-section">
        <h3 class="heading-sub-section">Education</h3>
        <span class="u-bold">Pomor State University, Arkhangelsk, 1997-2002</span>
        <ul class="list list_noStyle u-italic">
          <li>Primary school teacher, English teacher</li>
          <li>Specialization: English language</li>
        </ul>

        <span class="u-bold">North Arctic Federal University, Arkhangelsk, 2009-2013</span>
        <ul class="list list_noStyle u-italic">
          <li>Engineer</li>
          <li>Specialization: Information systems and technologies</li>
        </ul>
      </div>
    </div>
  </div>

</section>