
<!-- <div class = "header">
  <div class = "header__main-logo"></div>
</div> -->
<!-- <div class = "header__text-box"> -->
<div class = "section section-contact">
    <div class="contact_board">
        <div class = "contact_board__myPhotoBox">
            <img class = "myPhoto" src = "assets/img/131.png" alt="me"/>
        </div>        
        <div class = "contact_board__contacts">
            <span class="u-uppercase">Yaroslavl</span>,<br>
            <span>Telephone: +79118716450</span>,<br> 
            <span>Email: cameaann@gmail.com</span><br>
            <a routerLink = "/home" class = "btn">HOME</a>
        </div> 
    </div>

</div>
   
