@import "abstracts/variables";
@import "abstracts/mixins";

.project{

&__title{
    font-size: 2.5rem;
    position: absolute;
    color:$light-grey;
    vertical-align: middle;
    @include central;
}

&__card{
    position: relative;
    margin:0.5rem;
    padding:1rem;
    font-size: $default-font-size;
    background-color: $light-grey;
    // width:25rem;
    height:20rem;


    &:hover{
        transform: scale(1.13rem);
        transform: translateY(-.5rem);
        box-shadow: 0 .4rem 1.8rem .3rem rgba(173,159,173,1);
        cursor:pointer;
    }  

    &-1 {
        background-size: cover;
        background-image:  linear-gradient(to right bottom,  
        rgba($light-grey, 0.8),
        rgba($grey-color, 0.8)),
        url('src/assets/img/thumbnail_your-tour.jpg');
         }
    &-4 {
        background-size: cover;
        background-image:  linear-gradient(to right bottom,  
        rgba($light-grey, 0.8),
        rgba($grey-color, 0.8)),
        url('src/assets/img/thumbnail_hotel-page.jpg');
        }
    } 
      
 }
    
    a {
        text-decoration: none;
        color:$grey-color;        
    }