@import "abstracts/variables";

.project-card{
    margin:0.5rem;
    padding:1rem;
    font-size: $default-font-size;
    background-color: $light-grey;
    // width:25rem;
    height:20rem;
    

    &:hover{
        transform: scale(1.13rem);
        transform: translateY(-.5rem);
        box-shadow: 0 .4rem 1.8rem .3rem rgba(173,159,173,1);
        cursor:pointer;
    }  
}

a{
    text-decoration: none;
    color:$grey-color;        
}