@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/functions";


.section-works{
    background-color: $light-grey-1;
}

.container-project{
    position: relative;
    max-width: $row-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: $horizontal-gutter;

    @include response(tab-port){
        max-width: $row-width/2;
        grid-template-columns: auto auto;
        grid-gap: $horizontal-gutter/2;
        padding: 0 5rem;
    }
}

