body{
    color: $grey-color;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Oswald', sans-serif;
    line-height: 1.7;
}

.heading-primary{
    color: $grey-color;
    text-transform: uppercase;
    margin-bottom: 5rem;

    &--main{
        font-family: 'Abril Fatface', cursive;
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 1rem;
        text-align: justify;
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;

        @include response(tab-port){
            font-size: 4rem;
            letter-spacing: .7rem;
        }

        @include response(phone){
            font-size: 3rem;
            letter-spacing: .5rem;
        }
    }

    &--sub{
        display: block; 
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1rem;
        font-style: italic; 
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;

        @include response(tab-port){
            font-size: 1rem;
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary{
    display:inline-block;
    font-family: 'Abril Fatface', cursive;
    font-size: 3.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5rem;
    background-image: linear-gradient(to right, $light-grey, $dark-grey);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    @include response(tab-port){
        font-size: 3rem;
    }
    @include response(phone){
        font-size: 2.5rem;
    }
}
.heading-tertiary{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1.8rem;
    // font-weight:400;
    margin-top: 2rem;
    color: $grey-color;
    text-transform: uppercase;
}

.heading-sub-section{
    margin-bottom:1rem;
    color: $grey-color;
    font-weight:400;
    // font-style: italic;
    text-transform: uppercase;
    width:100%;

}